.Header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 30px 0px;
    border-bottom: 1px solid #161616;
    @media screen and (max-width: 600px) {
      padding: 20px 0px 10px 0px;
    }

    .header_logo {
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        color: var(--blue, #0051c7);
        font-family: Ubuntu-Bold;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @media screen and (max-width: 600px) {
          font-size: 12.209px;
        }
      }
      .logo {
        @media screen and (max-width: 600px) {
          width: 50px;
        }
      }
    }

    .header_menu {
      display: flex;
      align-items: center;
      gap: 60px;
      @media screen and (max-width: 1140px) {
        justify-content: space-between;
        gap: 0;
      }
      @media screen and (max-width: 1024px) {
        gap: 40px;
      }
      @media screen and (max-width: 600px) {
        gap: 20px;
      }

      .mobile {
        display: block;
        position: absolute;
        flex-direction: column;
      }

      .profil {
        width: 70px;
        height: 70px;
        @media screen and (max-width: 600px) {
          width: 50px;
          height: 50px;
        }

        img {
          border-radius: 50%;
        }
      }

      .header_link {
        display: flex;
        align-items: center;

        @media screen and (max-width: 1024px) {
          display: none;
        }
        li {
          padding: 0 20px;
          border-right: 1px solid #161616;
        }

        li:last-child {
          border: none;
        }

        .link {
          color: #161616;
          font-family: Ubuntu-Medium;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          transition: all 250ms ease-in;
          &:hover {
            color: #0051c7;
          }
        }
      }

      .header_button {
        color: #fff;
        font-family: Ubuntu-Medium;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 10px 30px;
        background: #0051c7;

        @media screen and (max-width: 600px) {
          font-size: 16px;
        }
      }

      .toggle {
        display: none;
        @media screen and (max-width: 1024px) {
          display: block;

          .logo {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  .toggle_menu {
    position: absolute;
    top: 130px;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #f6f6f6;
    padding: 30px;
    z-index: 11;
    transition: all 1s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and (min-width: 1025px) {
      display: none;
    }
    @media screen and (max-width: 1024px) {
      top: 150px;
    }
    @media screen and (max-width: 600px) {
      top: 90px;
    }

    .link {
      color: #161616;
      font-family: Ubuntu-Medium;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 15px 20px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px 20px;
      }
    }
  }
}
