.change {
  .btn {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid var(--dark, #161616);
    margin-bottom: 24px;

    span {
      color: var(--dark, #161616);
      font-family: Ubuntu-Medium;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media screen and (max-width: 600px) {
        font-size: 16px;
      }
    }

    .logo {
      width: 24px;
      height: 24px;
      @media screen and (max-width: 600px) {
        width: 20px;
        height: 20px;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    .input {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      gap: 6px;
      label {
        color: #161616;
        font-family: Ubuntu-Medium;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.9;
        @media screen and (max-width: 600px) {
          font-size: 12px;
        }
      }

      .tel {
        display: flex;
        width: 490px;
        height: 60px;
        padding: 10px;
        align-items: center;
        gap: 10px;
        background: var(--gray, #f6f6f6);
        color: #161616;
        font-family: Ubuntu-Medium;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        outline: none;
        &:focus-within {
          border: 2px solid #161616;
          background: var(--gray, #fff);
        }
        @media screen and (max-width: 600px) {
          width: 310px;
          height: 44px;
          font-size: 15px;
        }
      }

      .password {
        display: flex;
        width: 490px;
        height: 60px;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        background: var(--gray, #f6f6f6);
        gap: 20px;
        &:focus-within {
          border: 2px solid #161616;
          background: var(--gray, #fff);
        }
        @media screen and (max-width: 600px) {
          width: 310px;
          height: 44px;
        }

        .pass {
          width: 100%;
          height: 100%;
          color: #161616;
          background-color: transparent;
          font-family: Ubuntu-Medium;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          outline: none;
          &::placeholder {
            font-size: 16px;
            @media screen and (max-width: 600px) {
              font-size: 12px;
            }
          }
          @media screen and (max-width: 600px) {
            font-size: 15px;
          }
        }
        button {
          cursor: pointer;
          .logo {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
  .button {
    display: flex;
    width: 490px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0.6;
    background: var(--blue, #0051c7);
    margin-top: 24px;
    @media screen and (max-width: 600px) {
      width: 310px;
      height: 44px;
      margin-top: 20px;
    }
    span {
      color: var(--white, #fff);
      font-family: Ubuntu-Medium;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
