.history {
  padding: 70px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media screen and (max-width: 1280px) {
    padding: 40px;
  }
  @media screen and (max-width: 600px) {
    padding: 0px;
    gap: 20px;
  }

  .text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 20px;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: 20px;
    }
    h2 {
      color: var(--dark, #161616);
      font-family: Ubuntu-Medium;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      @media screen and (max-width: 1280px) {
        font-size: 44px;
      }

      @media screen and (max-width: 600px) {
        font-size: 18px;
      }
    }

    .link {
      display: flex;
      flex-direction: column;
      gap: 4px;
      h3 {
        color: var(--dark, #161616);
        font-family: Ubuntu-Medium;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media screen and (max-width: 600px) {
          font-size: 14px;
        }
      }

      .close {
        width: 32px;
        height: 32px;
        @media screen and (max-width: 1024px) {
          width: 24px;
          height: 24px;
        }
      }

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        @media screen and (max-width: 1280px) {
          gap: 10px;
        }

        @media screen and (max-width: 600px) {
          justify-content: space-between;
        }

        li {
          .calendar {
            background-color: rgba(217, 217, 217, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            z-index: 4;
            overflow: hidden;
            .cal {
              width: 500px;
              box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
              font-size: 20px;
              border-radius: 10px;
              border: none;
              @media screen and (max-width: 600px) {
                margin: 0 20px;
                width: 100%;
              }
            }
          }

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            border-radius: 8px;
            background: var(--gray, #f6f6f6);
            padding: 10px;

            span {
              color: var(--dark, #161616);
              font-family: Ubuntu-Medium;
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              @media screen and (max-width: 1024px) {
                font-size: 18px;
              }
              @media screen and (max-width: 600px) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 100px 10px 20px;
      background-color: var(--gray, #f6f6f6);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);
      @media screen and (max-width: 1024px) {
        padding: 20px;
      }

      @media screen and (max-width: 600px) {
        padding: 10px;
      }
      .blog {
        display: flex;
        justify-content: baseline;
        align-items: center;
        gap: 15px;
        .logo {
          width: 60px;
          height: 60px;
          border-radius: 60px;
          border: 1px solid #161616;
          padding: 5px;
          @media screen and (max-width: 600px) {
            width: 50px;
            height: 50px;
            border-radius: 50px;
          }
        }

        .title {
          h3 {
            color: var(--dark, #161616);
            font-family: Ubuntu-Medium;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 185%; /* 37px */
            @media screen and (max-width: 1024px) {
              font-size: 18px;
            }
            @media screen and (max-width: 600px) {
              font-size: 16px;
            }
          }
          p {
            color: var(--dark, #161616);
            font-family: Ubuntu-Medium;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 185%; /* 29.6px */
            @media screen and (max-width: 1024px) {
              font-size: 14px;
            }
            @media screen and (max-width: 600px) {
              font-size: 12px;
            }
          }
        }
      }

      .date {
        color: var(--dark, #161616);
        font-family: Ubuntu-Medium;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 185%;
        display: flex;
        justify-content: baseline;
        align-items: center;
        gap: 30px;
        @media screen and (max-width: 1024px) {
          font-size: 16px;
          gap: 20px;
        }
        @media screen and (max-width: 600px) {
          font-size: 12px;
        }
      }
    }
  }
}
