.contact {
  margin: 64px 0 140px;
  @media screen and (max-width: 1140px) {
    margin: 64px 0 100px;
  }
  @media screen and (max-width: 1000px) {
    margin: 44px 0 70px;
  }
  @media screen and (max-width: 600px) {
    margin: 20px 0 40px;
  }
  h2 {
    color: var(--dark, #161616);
    font-family: Gilroy;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (max-width: 1024px) {
      font-size: 70px;
    }
    @media screen and (max-width: 600px) {
      font-size: 24px;
    }
  }

  .blog {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      color: var(--dark, #161616);
      font-family: Gilroy-SemiBold;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 185%; /* 55.5px */
      display: grid;
      grid-template-columns: 4fr 8fr;
      @media screen and (max-width: 1024px) {
        font-size: 18px;
      }
      @media screen and (max-width: 600px) {
        font-size: 12px;
      }
    }
    .map {
      width: 100%;
      height: 300px;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 40px;
    margin-top: 60px;
    @media screen and (max-width: 1024px) {
      margin-top: 40px;
    }
    @media screen and (max-width: 600px) {
      margin-top: 20px;
      grid-template-columns: 12fr;
      gap: 10px;
    }

    .card {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 20px 0;
      border-top: 2px solid var(--dark, #161616);
      @media screen and (max-width: 1024px) {
        padding: 16px 0;
      }
      @media screen and (max-width: 600px) {
        padding: 10px 0;
      }
      h5 {
        color: var(--dark, #161616);
        font-family: Gilroy-SemiBold;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 185%; /* 62.9px */
        @media screen and (max-width: 1024px) {
          font-size: 22px;
        }
        @media screen and (max-width: 600px) {
          font-size: 18px;
        }
      }
      p {
        color: var(--dark, #161616);
        font-family: Gilroy-SemiBold;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 185%; /* 55.5px */
        opacity: 0.7;
        @media screen and (max-width: 1024px) {
          font-size: 18px;
        }
        @media screen and (max-width: 600px) {
          font-size: 14px;
        }
      }
    }
  }
}
