.news_card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media screen and (max-width: 1140px) {
    gap: 20px;
  }
  @media screen and (max-width: 600px) {
    gap: 30px;
  }

  .image {
    width: 100%;
    height: 494px;
    @media screen and (max-width: 600px) {
      height: 200px;
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (max-width: 1140px) {
      gap: 20px;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;
    }
    .data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: var(--dark, #161616);
        font-family: Gilroy-SemiBold;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        opacity: 0.6;
        @media screen and (max-width: 600px) {
          font-size: 12px;
        }
      }
      .link {
        color: var(--dark, #161616);
        font-family: Gilroy-SemiBold;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background: var(--white, #fff);
        @media screen and (max-width: 600px) {
          font-size: 13px;
          padding: 10px;
        }

        .logo {
          width: 24px;
          height: 24px;
        }
      }
    }
    h4 {
      color: var(--dark, #161616);
      text-align: justify;
      font-family: Gilroy-SemiBold;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      @media screen and (max-width: 1140px) {
        font-size: 23px;
      }
      @media screen and (max-width: 600px) {
        font-size: 18px;
      }
    }
  }
}
