.paginate {
  display: flex;
  justify-content: center;
  align-items: center;

  .pag_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    @media screen and (max-width: 600px) {
      padding: 6.745px 7.869px;
    }

    button {
      color: var(--dark, #161616);
      text-align: center;
      font-family: Ubuntu;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      @media screen and (max-width: 600px) {
        font-size: 12px;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      li {
        padding: 12px 14px;
        border: 1px solid var(--dark, #161616);
        color: var(--dark, #161616);
        font-family: Ubuntu;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 123.6%; /* 24.72px */
        @media screen and (max-width: 600px) {
          padding: 6.745px 7.869px;
          font-size: 11.241px;
        }
      }
    }
  }
}

.cards {
  margin: 140px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
  @media screen and (max-width: 1140px) {
    margin: 100px 0;
    gap: 40px;
  }
  @media screen and (max-width: 1000px) {
    margin: 80px 0;
  }
  @media screen and (max-width: 600px) {
    margin: 40px 0;
    gap: 20px;
  }
  h2 {
    color: var(--dark, #161616);
    font-family: Ubuntu-Bold;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    @media screen and (max-width: 1140px) {
      font-size: 44px;
      margin-bottom: 40px;
    }
    @media screen and (max-width: 600px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  .wrapper {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 40px;
    @media screen and (max-width: 1140px) {
      gap: 30px;
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 12fr;
      align-items: center;
    }
  }
}
