.slide {
  margin-bottom: 140px;
  @media screen and (max-width: 1000px) {
    margin-bottom: 70px;
  }
  @media screen and (max-width: 600px) {
    margin-bottom: 40px;
  }
  .slide_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    @media screen and (max-width: 1140px) {
      margin-bottom: 30px;
    }
    @media screen and (max-width: 600px) {
      margin-bottom: 20px;
    }

    h2 {
      color: var(--dark, #161616);
      font-family: Ubuntu-Bold;
      font-size: 64px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      @media screen and (max-width: 1140px) {
        font-size: 44px;
      }
      @media screen and (max-width: 600px) {
        font-size: 26px;
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      button {
        padding: 12px 14px;
        border-radius: 4px;
        border: 2px solid var(--dark, #161616);
        @media screen and (max-width: 600px) {
          padding: 3px;
        }
        .logo {
          width: 32px;
          height: 32px;
          @media screen and (max-width: 600px) {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
  .card {
    max-width: 400px;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @media screen and (max-width: 1140px) {
      height: 500px;
    }
    @media screen and (max-width: 600px) {
      height: 400px;
    }

    .hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #f0f0f0;
      transition: all 0.3s ease-in;

      &:hover {
        background-color: transparent;
        .text {
          p {
            color: var(--white, #fff);
          }
          h2 {
            color: var(--white, #fff);
            span {
              border-bottom: 2px solid #fff;
            }
          }
        }
      }

      .text {
        position: absolute;
        bottom: 70px;
        left: 20%;
        right: 20%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media screen and (max-width: 1140px) {
          left: 10%;
        }
        p {
          color: var(--white, #161616);
          font-family: Ubuntu-Medium;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          opacity: 0.8;
          @media screen and (max-width: 1140px) {
            font-size: 18px;
          }
          @media screen and (max-width: 600px) {
            font-size: 14px;
          }
        }
        h2 {
          color: var(--white, #161616);
          font-family: Ubuntu-Medium;
          font-size: 44px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          opacity: 0.8;
          @media screen and (max-width: 1140px) {
            font-size: 26px;
          }
          @media screen and (max-width: 600px) {
            font-size: 18px;
          }
          span {
            border-bottom: 2px solid #161616;
          }
        }
      }
    }
  }
}
