@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
}
.container {
  max-width: 1564px;
  padding: 0 30px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
}

.ReactCollapse--collapse {
  transition: height 500ms;
}
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('/font/Ubuntu_Medium.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('/font/Ubuntu/Ubuntu-Bold.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Copperplate Gothic Bold';
  src: url('/font/Copperplate-Gothic-Bold/Copperplate\ Gothic\ Bold\ Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('/font/Gilroy_Medium.ttf');
}