.hero {
  display: grid;
  grid-template-columns: 5fr 7fr;
  align-items: center;
  gap: 60px;
  margin: 100px 0;
  @media screen and (max-width: 1000px) {
    margin: 70px 0;
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: 12fr;
    gap: 10px;
    margin: 40px 0;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (max-width: 1140px) {
      width: 100%;
    }
    @media screen and (max-width: 600px) {
      gap: 6px;
    }

    h2 {
      color: var(--dark, #161616);
      font-family: Copperplate Gothic Bold;
      font-size: 92px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media screen and (max-width: 1140px) {
        font-size: 80px;
      }
      @media screen and (max-width: 1000px) {
        font-size: 60px;
      }
      @media screen and (max-width: 600px) {
        font-size: 30px;
      }
    }

    p {
      color: var(--dark, #161616);
      font-family: Gilroy-Medium;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 185%;
      @media screen and (max-width: 1140px) {
        font-size: 20px;
      }
      @media screen and (max-width: 1000px) {
        font-size: 19px;
      }
      @media screen and (max-width: 600px) {
        font-size: 12px;
      }
    }
  }
}

.blog {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  gap: 120px;
  @media screen and (max-width: 1140px) {
    gap: 80px;
  }
  @media screen and (max-width: 1000px) {
    gap: 55px;
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: 6fr 6fr;
    gap: 20px;
  }
  .card {
    padding-top: 20px;
    border-top: 5px solid #161616;
    opacity: 0.8;

    p {
      color: var(--dark, #161616);
      font-family: Gilroy-SemiBold;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.8;
    }

    h2 {
      color: var(--dark, #161616);
      font-family: Gilroy;
      font-size: 44px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;

      span {
        color: var(--blue, #0051c7);
        font-family: Gilroy;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
}

.deaf {
  margin: 125px 0 140px;
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 34px;
  align-items: center;
  @media screen and (max-width: 1140px) {
    margin: 100px 0 100px;
  }
  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    margin: 70px 0 80px;
  }
  @media screen and (max-width: 600px) {
    margin: 70px 0 80px;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    @media screen and (max-width: 1000px) {
      gap: 30px;
    }
    @media screen and (max-width: 600px) {
      gap: 10px;
    }

    h2 {
      color: var(--dark, #161616);
      font-family: Gilroy;
      font-size: 64px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      @media screen and (max-width: 1140px) {
        font-size: 48px;
      }
      @media screen and (max-width: 1000px) {
        font-size: 44px;
      }
      @media screen and (max-width: 600px) {
        font-size: 26px;
      }
    }
    p {
      color: var(--dark, #161616);
      text-align: justify;
      font-family: Gilroy-Medium;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 185%; /* 40.7px */
      @media screen and (max-width: 1140px) {
        font-size: 20px;
      }
      @media screen and (max-width: 1000px) {
        font-size: 18px;
      }
      @media screen and (max-width: 600px) {
        font-size: 14px;
      }
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    @media screen and (max-width: 1000px) {
      gap: 30px;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;
      gap: 10px;
    }
    .image {
      width: 100%;
      height: 169px;
      @media screen and (max-width: 1000px) {
        height: 250px;
      }
      @media screen and (max-width: 600px) {
        height: 150px;
      }
    }

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 40px;
      padding-top: 40px;
      border-top: 1px solid rgba(22, 22, 22, 0.7);
      @media screen and (max-width: 1140px) {
        gap: 20px;
      }
      @media screen and (max-width: 600px) {
        gap: 10px;
        padding-top: 10px;
      }
      .card {
        display: flex;
        align-items: center;
        gap: 10px;
        .card_img {
          width: 50px;
          height: 50px;
          @media screen and (max-width: 600px) {
            width: 32px;
            height: 32px;
          }
        }

        p {
          color: var(--dark, #1c1c1c);
          font-family: Gilroy-SemiBold;
          font-size: 36px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @media screen and (max-width: 600px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
