.footer {
  .footer_wrapper {
    padding: 70px 0 140px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 4fr 8fr;
    @media screen and (max-width: 1024px) {
      grid-template-columns: 5fr 7fr;
      padding: 70px 0 60px;
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 12fr;
      padding: 40px 0 20px;
    }

    .footer_left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: 1024px) {
        gap: 40px;
      }
      @media screen and (max-width: 600px) {
        gap: 20px;
      }

      .footer_logo {
        display: flex;
        align-items: center;
        gap: 10px;

        .logo {
          @media screen and (max-width: 600px) {
            width: 61.854px;
            height: 39.861px;
          }
        }

        span {
          color: var(--blue, #0051c7);
          font-family: Gilroy;
          font-size: 26px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          @media screen and (max-width: 600px) {
            font-size: 17.869px;
          }
        }
      }

      p {
        color: #161616;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 24px;
        @media screen and (max-width: 1024px) {
          margin-top: 14px;
        }
        @media screen and (max-width: 600px) {
          margin-top: 14px;
          font-size: 12px;
        }
      }

      .oracle {
        p {
          color: var(--dark, #161616);
          font-family: Gilroy-SemiBold;
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 24px;
          @media screen and (max-width: 1024px) {
            margin-bottom: 10px;
            font-size: 22px;
          }
          @media screen and (max-width: 600px) {
            margin-bottom: 6px;
            font-size: 14px;
          }

          .image {
            @media screen and (max-width: 1024px) {
              width: 150px;
            }
            @media screen and (max-width: 600px) {
              width: 96.549px;
              height: 32px;
            }
          }
        }

        @media screen and (max-width: 1024px) {
          margin-bottom: 10px;
          font-size: 22px;
        }
      }
    }

    .footer_rigth {
      display: grid;
      grid-template-columns: 3fr 9fr;
      gap: 116px;
      @media screen and (max-width: 1140px) {
        gap: 60px;
      }
      @media screen and (max-width: 1024px) {
        grid-template-columns: 6fr 6fr;
      }
      @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
      }

      h3 {
        color: #161616;
        font-family: Gilroy-SemiBold;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 24px;
        @media screen and (max-width: 1024px) {
          font-size: 22px;
        }
        @media screen and (max-width: 600px) {
          font-size: 18px;
          margin-bottom: 16px;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media screen and (max-width: 600px) {
          gap: 10px;
        }

        li {
          display: flex;
          align-items: center;
          gap: 8px;

          Link {
            color: var(--dark, #161616);
            font-family: Gilroy;
            font-size: 22px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            @media screen and (max-width: 600px) {
              font-size: 16px;
            }
          }
        }
      }

      .wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .footer_item {
          @media screen and (max-width: 1024px) {
            display: none;
          }
        }

        .footer_flex {
          display: flex;
          justify-content: space-between;
          gap: 100px;
          @media screen and (max-width: 1140px) {
            gap: 60px;
          }
        }

        .footer_link {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        .footer_map {
          @media screen and (max-width: 1024px) {
            display: none;
          }
          .map_link {
            position: relative;
            width: 100%;

            a {
              color: var(--white, #fff);
              font-family: Atyp Display;
              font-size: 26px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              background-color: #000;
              width: 100%;
              height: 100%;
              opacity: 0.5;
              position: absolute;
              top: 0;
              bottom: 0;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .map {
              width: 100%;
              height: 184px;
            }
          }
        }
      }
    }
  }

  .mobile_wrapper {
    display: none;
    @media screen and (max-width: 1024px) {
      display: grid;
      grid-template-columns: 4fr 6fr;
      margin-bottom: 70px;
    }

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    h3 {
      color: #161616;
      font-family: Gilroy-SemiBold;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 24px;
      @media screen and (max-width: 600px) {
        font-size: 18px;
        margin-bottom: 16px;
      }
    }

    .footer_item {
      .footer_link {
        display: flex;
        align-items: center;
        gap: 20px;
        Link {
          @media screen and (max-width: 600px) {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .footer_map {
      .map_link {
        position: relative;
        width: 100%;

        a {
          color: var(--white, #fff);
          font-family: Atyp Display;
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          background-color: #000;
          width: 100%;
          height: 100%;
          opacity: 0.5;
          position: absolute;
          top: 0;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;

          @media screen and (max-width: 600px) {
            font-size: 16px;
          }
        }

        .map {
          width: 100%;
          height: 102px;
        }
      }
    }
  }
}
