.card {
  .image {
    position: relative;
    width: 100%;
    height: 466px;
    @media screen and (max-width: 1140px) {
      height: 320px;
    }
    @media screen and (max-width: 600px) {
      height: 300px;
    }
  }

  h3 {
    color: var(--dark, #161616);
    font-family: Ubuntu-Medium;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 30px 0;
    @media screen and (max-width: 1140px) {
      margin: 30px 0 20px;
      font-size: 22px;
    }
    @media screen and (max-width: 600px) {
      font-size: 18px;
      margin: 10px 0;
    }
  }

  p {
    color: var(--dark, #161616);
    text-align: justify;
    font-family: Ubuntu-Medium;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
    @media screen and (max-width: 1140px) {
      font-size: 20px;
    }

    @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  }
}
