.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(217, 217, 217, 0.8);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;

  .blog {
    position: relative;
    display: inline-flex;
    padding: 100px 40px 40px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background: var(--white, #fff);
    @media screen and (max-width: 600px) {
      padding: 60px 20px 40px;
    }

    .error {
      color: red;
      font-family: Gilroy-SemiBold;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
    }
    .close {
      position: absolute;
      right: 45px;
      top: 45px;
      .logo {
        width: 32px;
        height: 32px;
      }

      @media screen and (max-width: 600px) {
        right: 20px;
        top: 20px;
      }
    }

    .btn {
      display: grid;
      grid-template-columns: 6fr 6fr;
      gap: 50px;
      @media screen and (max-width: 600px) {
        grid-template-columns: 5fr 7fr;
        gap: 10px;
        width: 100%;
      }
      button {
        color: var(--blue, #161616);
        font-family: Gilroy-SemiBold;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.6;
        border-bottom: 2px solid var(--blue, #161616);
        padding: 10px;
        @media screen and (max-width: 600px) {
          font-size: 16px;
          border-bottom: 2px solid var(--blue, #161616);
        }
      }

      .active {
        color: var(--blue, #0051c7);
        border-bottom: 2px solid var(--blue, #0051c7);
        opacity: 1;
      }
    }
    .login {
      display: flex;
      flex-direction: column;
      gap: 24px;
      @media screen and (max-width: 600px) {
        gap: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        @media screen and (max-width: 600px) {
          gap: 10px;
        }

        .input {
          display: flex;
          flex-direction: column;
          align-items: baseline;
          gap: 6px;
          label {
            color: #161616;
            font-family: Gilroy-SemiBold;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            opacity: 0.9;
            @media screen and (max-width: 600px) {
              font-size: 12px;
            }
          }

          .tel {
            display: flex;
            width: 490px;
            height: 60px;
            padding: 10px;
            align-items: center;
            gap: 10px;
            background: var(--gray, #f6f6f6);
            color: #161616;
            font-family: Gilroy-SemiBold;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            outline: none;
            &:focus-within {
              border: 2px solid #161616;
              background: var(--gray, #fff);
            }
            @media screen and (max-width: 600px) {
              width: 310px;
              height: 44px;
              font-size: 15px;
            }
          }

          .password {
            display: flex;
            width: 490px;
            height: 60px;
            padding: 10px;
            justify-content: space-between;
            align-items: center;
            background: var(--gray, #f6f6f6);
            gap: 20px;
            &:focus-within {
              border: 2px solid #161616;
              background: var(--gray, #fff);
            }
            @media screen and (max-width: 600px) {
              width: 310px;
              height: 44px;
            }

            .pass {
              width: 100%;
              height: 100%;
              color: #161616;
              background-color: transparent;
              font-family: Gilroy-SemiBold;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              outline: none;
              &::placeholder {
                font-size: 16px;
                @media screen and (max-width: 600px) {
                  font-size: 12px;
                }
              }
              @media screen and (max-width: 600px) {
                font-size: 15px;
              }
            }
            button {
              cursor: pointer;
              .logo {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }

    .recovery {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      @media screen and (max-width: 600px) {
        gap: 20px;
      }
      p {
        width: 490px;
        color: #444;
        text-align: center;
        font-family: Gilroy-Medium;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.6;
        @media screen and (max-width: 600px) {
          font-size: 12px;
          width: 310px;
        }
      }
      .wrapper {
        display: flex;
        flex-direction: column;
        gap: 6px;
        label {
          color: #161616;
          font-family: Gilroy-SemiBold;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          opacity: 0.9;
          @media screen and (max-width: 600px) {
            font-size: 12px;
          }
        }

        input {
          display: flex;
          width: 490px;
          height: 60px;
          padding: 10px;
          align-items: center;
          gap: 10px;
          background: var(--gray, #f6f6f6);
          color: #161616;
          font-family: Gilroy-SemiBold;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          outline: none;
          @media screen and (max-width: 600px) {
            width: 310px;
            height: 44px;
            font-size: 15px;
          }
          ::placeholder {
            color: #161616;
            font-family: Gilroy-Medium;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            opacity: 0.5;
            @media screen and (max-width: 600px) {
              font-size: 12px;
            }
          }
          &:focus-within {
            border: 2px solid #161616;
            background: var(--gray, #fff);
          }
        }
      }

      h5 {
        color: var(--dark, #161616);
        text-align: center;
        font-family: Gilroy-SemiBold;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.24px;
        @media screen and (max-width: 600px) {
          font-size: 16px;
        }
        span {
          color: var(--blue, #0051c7);
          cursor: pointer;
          margin-left: 10px;
        }
      }
    }

    .link {
      color: #161616;
      font-family: Gilroy-SemiBold;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media screen and (max-width: 600px) {
        font-size: 16px;
      }
      span {
        border-bottom: 1px solid var(--dark, #161616);
        padding: 10px;
        opacity: 0.9;
      }
    }

    .button {
      display: flex;
      width: 490px;
      height: 60px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      opacity: 0.6;
      background: var(--blue, #0051c7);
      @media screen and (max-width: 600px) {
        width: 310px;
        height: 44px;
      }
      span {
        color: var(--white, #fff);
        font-family: Gilroy-SemiBold;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
