.accordion {
  margin: 45px 0 140px;
  @media screen and (max-width: 1140px) {
    margin: 45px 0 80px;
  }
  @media screen and (max-width: 600px) {
    margin: 55px 0 40px;
  }
  .title {
    h2 {
      color: var(--dark, #161616);
      font-family: Gilroy;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      opacity: 0.5;
      @media screen and (max-width: 1140px) {
        font-size: 44px;
      }
      @media screen and (max-width: 600px) {
        font-size: 20px;
      }
    }
    h3 {
      color: var(--dark, #161616);
      font-family: Gilroy;
      font-size: 96px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media screen and (max-width: 1140px) {
        font-size: 70px;
      }
      @media screen and (max-width: 600px) {
        font-size: 30px;
      }
    }
    p {
      color: var(--dark, #161616);
      font-family: Gilroy-SemiBold;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 185%; /* 37px */
      margin: 20px 0 45px;
      @media screen and (max-width: 1140px) {
        font-size: 20px;
        margin: 10px 0 45px;
      }
      @media screen and (max-width: 600px) {
        font-size: 14px;
        margin: 5px 0 20px;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (max-width: 600px) {
      gap: 20px;
    }
  }
}
